.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 1rem;
    border-radius: 4px;
}

iframe {
    max-width: 100%;
    border: none;
}

.slds-modal__content {
    overflow: visible !important;
}